body {
  text-align: center;
  background-color: #011f3f;
  font-family: "Press Start 2P", cursive;
}

#level-title {
  
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.smallbtn {
  margin: 25px;
  display: inline-block;
  font-size: 2rem;
  /*height: 100px;*/
  width: 200px;
  border: 10px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20%;
}

.gainsboro {
  background-color: gainsboro;
}

.btn:hover {
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 1000px) {
  .btn {
    margin: 15px;
    height: 150px;
    width: 150px;
  }

  #level-title {
    font-size: 2rem;
  }
}
